.language ul {
  margin-top: 20px;
}

.language li {
  margin: 10px;
}

.language li span {
  display: inline-block;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
  width: 500px;
  vertical-align: top;
}

.language li span:hover {
  background: #f5f3f2;
}

.language .form-control {
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.35);
}

.language .form-control input {
  margin-right: 10px;
}
