.app-record {
  margin: 20px 10px;
  text-align: left;
}

.time-blocks {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.time-block {
  margin: 2px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.time-block_on {
  border-color: DarkOrange;
  color: DarkOrange;
}

.app-record td {
  padding: 5px;
  border: 1px solid;
  min-width: 100px;
}

.app-record__todo {
  margin: 2px;
}

.app-record__todo input {
  padding: 5px;
}

.app-record__table {
  float: left;
}

.app-record__copy {
  float: left;
  margin-left: 20px;
  line-height: 27px;
  cursor: pointer;
}